
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind', sans-serif;
    background: linear-gradient(to right, #d599df, #7635d6);
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.app {
    max-width: 90%;
    min-width: 40%;
    margin: 0 auto;
    position: absolute;
    padding: 20px;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

header {
    margin-bottom: 20px;
}

.title {
    color: #333;
    /* color: white; */
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.title span{
    color: #bf2ed8;
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
}

#taskInput {
    flex-grow: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    outline: none;
    margin-right: 10px; 
}
#taskInput:hover{
    border-color:#FB8C00;;
}
#taskInput:hover::placeholder {
    color: #FB8C00; 
}

#addTask {
    background: linear-gradient(to right, #8E24AA, #6A1B9A);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

#addTask:hover {
    background: linear-gradient(to right, #6A1B9A, #4A148C); /* Darker purple on hover */
}


.editButton {
    background: linear-gradient(to right, #FFA726, #FB8C00);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 10px;
}

.editButton:hover {
    background: linear-gradient(to right, #FB8C00, #EF6C00); 
}

.taskList {
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
}

.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.taskText {
    flex-grow: 1;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    align-items: center;
}

.deleteButton {
    background: linear-gradient(to right, #8E24AA, #6A1B9A);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 10px;
}

.deleteButton:hover {
    background: linear-gradient(to right, #6A1B9A, #4A148C); 
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .app {
        max-width: 100%;
    }

    #taskInput {
        font-size: 1rem;
    }

    #addTask {
        font-size: 1.2rem;
        margin-top: 0; 
    }

    .taskText {
        font-size: 1rem;
    }

    .deleteButton {
        font-size: 1.2rem;
        margin-left: 0; 
    }
    .editButton {
        margin-right: 4px;
    }
}
